<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>coverup</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="../static/css/slick-theme.css" />
  <!-- font awesome style -->
  <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
  <!--붙여넣기-->
  <link rel="stylesheet" href="../static/css/globals.css" />
  <link rel="stylesheet" href="../static/css/styleguide.css" />
  <link rel="stylesheet" href="../static/css/style3.css" />
</head>

<body>

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              Coverup
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="AIrecommand.html">AI 추천 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="AItest.html">AI 테스트 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="AItest3.html">AI 테스트3 <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="creatRecommand.html">creater 추천 <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="productRating.html">사용자 리뷰 <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="productRecommand.html">제품 추천 <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="community.html"> community</a>
                </li>
                
               
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html">로그인</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <a href="mypage.html">
                  <i class="fa fa-user" aria-hidden="true">mypage</i>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!--붙여넣기-->
      <body>
        <div class="screen">
            <div class="frame">
                <div class="view">
                    <div class="div">
                        <div class="frame-wrapper">
                          
                            <div class="containerAI">
                              <video id="video" width="530" height="540" autoplay></video>
                                <div class="webcam">
                                  
                                  
                                    <div class="view-wrapper">
                                        <div class="div-wrapper">
                                            <div class="view-2">
                                                <div class="view-3"><div class="text-wrapper">밝기</div></div>
                                                <div class="view-3"><div class="text-wrapper">얼굴위치</div></div>
                                                <div class="view-3"><div class="text-wrapper">방향</div></div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <!-- <div class="frame-2">
                                        <div class="ellipse-wrapper"><div class="ellipse"></div></div>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="frame-3">
                            <div class="frame-4"><div class="text-wrapper-2">설문내용</div></div>
                            <div class="view-4">
                                <div class="frame-5">
                                    <div class="rectangle"></div>
                                    <div class="rectangle-2"></div>
                                </div>
                                <div class="frame-5">
                                    <div class="rectangle"></div>
                                    <div class="rectangle-2"></div>
                                </div>
                                <div class="frame-5">
                                    <div class="rectangle"></div>
                                    <div class="rectangle-2"></div>
                                </div>
                                <div class="frame-5">
                                    <div class="rectangle"></div>
                                    <div class="rectangle-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-5">
                    <div class="view-6">
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                        <div class="rectangle-3"></div>
                    </div>
                    <img class="right" src="img/right.svg" />
                    <img class="left" src="img/left.svg" />
                </div>
            </div>
        </div>
    </body>

      <!--붙여넣기끝-->

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/face-api.js"></script>
    <script src="../static/js/script.js"></script>

    <!-- ... (기존 코드) ... -->


     
    


    <!-- contact section -->

    <section class="contact_section layout_padding">
      <div class="container-fluid">
        <div class = "row">

        </div>
      </div>
    </section>

    <!-- end contact section -->


    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_form_social_row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">

            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h4>
                Menu
              </h4>
              <div class="info_links_menu">
                <a href="index.html">
                  Home
                </a>
                <a href="#">
                  AI 추천
                </a>
                <a href="creatRecommand.html"> 
                  creator 추천
                </a>
                <a href="productRecommand.html">
                  제품 추천
                </a>
                <a href="#">
                  사용자 리뷰
                </a>
                <a href="community.html">
                   community
                </a>
                <a href="contact.html">
                  Contact us
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_insta">
              <h4>
                Instagram
              </h4>
              <div class="insta_box">
                <div class="img-box">
                  <img src="../static/images/insta-img.png" alt="">
                </div>
                <p>
                  long established fact that a reader
                </p>
              </div>
              <div class="insta_box">
                <div class="img-box">
                  <img src="../static/images/insta-img.png" alt="">
                </div>
                <p>
                  long established fact that a reader
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_detail">
              <h4>
                Company
              </h4>
              <p class="mb-0">
                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h4>
              Contact Us
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script  src="../static/js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script  src="../static/js/bootstrap.js"></script>
  <!-- slick slider -->
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script  src="../static/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->



</body>

</html>