<!DOCTYPE html>
<html>
<head>
  <title>웹 페이지 캡처</title>
  <style>
    #container {
      margin: 0px auto;
      width: 500px;
      height: 375px;
      border: 10px #333 solid;
    }
    #videoElement {
      width: 500px;
      height: 375px;
      background-color: #666;
    }
  </style>
</head>

<body>
<div id="container">
  <video autoplay="true" id="videoElement"></video>
</div>
<button id="redirectButton">리디렉트</button> <!-- 버튼 추가 -->


<script>
  var video = document.querySelector("#videoElement");

  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (error) {
              console.log("Something went wrong!");
            });
  }
  navigator.mediaDevices
          .enumerateDevices()
          .then((devices) => {
            devices.forEach((device) => {
              console.log(`${device.kind}: ${device.label} id = ${device.deviceId}`);
            });
          })
          .catch((err) => {
            console.log("Something went wrong!");
          })

  // 'w' 키 누르면 캡처하고 저장
  document.getElementById('redirectButton').addEventListener('click', function() {
    captureAndSave();
    setTimeout(function() {
      window.location.href = 'survey'; // 클릭 시 3초 후 'fjw'로 리디렉트
    }, 5000); // 3초 딜


  });

  // 캡처하고 이미지로 저장
  function captureAndSave() {
    const canvas = document.createElement('canvas');
    canvas.width = 500; // 조절 가능
    canvas.height = 375; // 조절 가능
    const context = canvas.getContext('2d');
    context.drawImage(video, 0, 0, canvas.width, canvas.height);


    canvas.toBlob(function(blob) {
      const formData = new FormData();
      formData.append('file', blob, 'captured_image.png');

      // Send the file to the server using XMLHttpRequest
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/posttester', true);
      xhr.send(formData);
    }, 'image/png');

  }
</script>
</body>
</html>